{% extends "layout.html" %}

{% block title %} {{question}} {% endblock %}
 
{% block html_head %}
   <script type="text/javascript">
     /* 
     $(document).ready(function(){
        addItem("Strip Mine");
        addItem("Fat Mess");
        addItem("Giggles");
      });
     */

     //TODO: use an ID here or something to have more discipline
     var question = "{{question}}";
    </script> 
{% endblock %}


{% block content %}
   <h2 id="question">{{question}}</h2>
   <p>Add possible answers to the question, then Drop the Bomb!</p>

    <div id="dashboard">
      <table id="item-table">
      </table>
    
      <div id="new-item-form"> 
        <!-- Should this be a form? -->
        <form id="add-form">
          <input type="text"  rows="15" id="new-item"></input>
          <input type="submit" id="add-button" value="Add"></input>
        </form>
      </div>

      <input type="button" value="Drop the Bomb!" id="compare-button" />
    </div>

    <div id="comparison-page">
      <div id="comparable-alpha" class="comparable"></div>
       or 
      <div id="comparable-beta" class="comparable"></div>
      ? 
      <br />(click one)
      <input type="button" value="Stop the Bomb!" id="stop-button" />
    </div>
{% endblock %}
